In [11]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix

In [2]:
train = pd.read_csv('../input/train.csv')

In [3]:
train.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [5]:
oof = pd.read_csv('../outputs/tf_efficientnet_b4_ns/2021-01-19-09-02/oof_df.csv')

In [6]:
oof.head()

         image_id  labels
0  1000015157.jpg     0.0
1  1000201771.jpg     3.0
2   100042118.jpg     4.0
3  1000723321.jpg     1.0
4  1000812911.jpg     3.0

In [9]:
accuracy_score(train.label.values, oof.labels.values)

0.896153666401832

In [12]:
confusion_matrix(train.label.values, oof.labels.values)

array([[  730,    69,    30,    43,   215],
       [  104,  1759,    53,    84,   189],
       [   31,    47,  1922,   250,   136],
       [   27,    60,   159, 12820,    92],
       [  194,   132,   113,   194,  1944]], dtype=int64)

In [41]:
df = pd.DataFrame(columns=['id', 'label'])

In [44]:
df = df.append({'id': train.loc[1][0], 'label': train.loc[1][1]}, ignore_index=True)

In [45]:
df

               id label
0  1000201771.jpg     3

In [47]:
for i in range(5):
    for j in range(5):
        if i == j:
            continue
        df = pd.DataFrame()
        for k in range(len(train)):
            tr = train.loc[k]
            of = oof.loc[k]
            if tr[1] == i and of[1] == j:
                df = df.append({'id': tr[0], 'label': tr[1]}, ignore_index=True)
        df.to_csv(f't{i}p{j}.csv', index=False)